body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

#code_space{
    height:500px;
    width: 800px;
    background-color:burlywood;
    display: block;
    margin: auto;
}
